#app {
  // 主体区域
  .main-container {
    position: relative;
    min-height: 100%;
    margin-left: 180px;
    transition: margin-left .28s;
  }
  // 侧边栏
  .sidebar-container {
    z-index: 1001;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    overflow: hidden;
    width: 180px !important;
    height: 100%;
    font-size: 0;
    transition: width .28s;
    //reset element-ui css
    .horizontal-collapse-transition {
      transition: 0s width ease-in-out, 0s padding-left ease-in-out, 0s padding-right ease-in-out;
    }
    .scrollbar-wrapper {
      overflow-x: hidden !important;
      .el-scrollbar__view {
        height: 100%;
      }
    }
    .el-scrollbar__bar.is-vertical {
      right: 0;
    }
    .is-horizontal {
      display: none;
    }
    a {
      overflow: hidden;
      display: inline-block;
      width: 100%;
    }
    .svg-icon {
      margin-right: 16px;
    }
    .el-menu {
      width: 100% !important;
      height: 100%;
      border: none;
    }
    .is-active > .el-submenu__title {
      color: #f4f4f5 !important;
    }
  }
  .hideSidebar {
    .sidebar-container {
      width: 36px !important;
    }
    .main-container {
      margin-left: 36px;
    }
    .submenu-title-noDropdown {
      padding-left: 10px !important;
      position: relative;
      .el-tooltip {
        padding: 0 10px !important;
      }
    }
    .el-submenu {
      overflow: hidden;
      & > .el-submenu__title {
        padding-left: 10px !important;
        .el-submenu__icon-arrow {
          display: none;
        }
      }
    }
    .el-menu--collapse {
      .el-submenu {
        & > .el-submenu__title {
          & > span {
            overflow: hidden;
            display: inline-block;
            width: 0;
            height: 0;
            visibility: hidden;
          }
        }
      }
    }
  }
  .sidebar-container .nest-menu .el-submenu > .el-submenu__title,
  .sidebar-container .el-submenu .el-menu-item {
    min-width: 180px !important;
    background-color: $subMenuBg !important;
    &:hover {
      background-color: $menuHover !important;
    }
  }
  .el-menu--collapse .el-menu .el-submenu {
    min-width: 180px !important;
  }
}
